$size: 60px;
$size1: 36px;
$size2: $size/2;
$size3: (($size/2)-2)+10;
$size4: 24px;
$size5: $size/3;
$size6: $size1/2;
$size7: ($size/2)-2;
$size8: $size/4;



@mixin size ($font-size, $text-align, $margin, $font-family) {
    font-size: $font-size;
    text-align: $text-align;
    margin: $margin;
    font-family: $font-family;
}

h1{
    @include size ($size1, center, 20px, $fuente-primaria);
}